.vscode/**
.vscode-test/**
.gitignore
.eslintrc.js
.prettierrc.js
.prettierignore
vsc-extension-quickstart.md
generate.js
scripts/**
node_modules/**
src/**
.claude/**
.github/**
.husky/**
.yarnrc
eslint.config.mjs
tsconfig.json
webpack.config.js
yarn.lock
**/*.map
releases/**
